body {
    display: flex;
    background: linear-gradient(to right bottom, #000000, #05477d);
    height: 200vh;
    width: 1400px;
    margin: 0 auto;
    flex-direction: column;
    padding: 50px 0;
}

* {
    color: white;
}

nav {
    display: flex;
}


/*відноситься до навігації*/

nav a {
    font-size: 25px;
    margin-right: 50px;
    text-decoration: none;
    color: #ffffff;
}


/*відноситься до лого*/

header .btn {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    background: #8cb3ed;
    padding: 9px 17px;
    border-radius: 30px;
    color: #000000;
}

header nav {
    float: right;
    width: 65%;
    display: flex;
    justify-content: space-between;
}


/*відноситься до "nav a" коли наводимо на одну з кнопок міняється колір рисочки знизу*/

header nav a:hover {
    border-bottom: 5px solid #8cb3ed;
    border-radius: 3px;
}


/*розташування тексту*/

.hero--info {
    width: 760px;
    padding-top: 50px;
}

.hero--info h1 {
    font-size: 75px;
}

.hero--info h2 {
    font-size: 50px;
}

.hero--info .btn {
    background: #05477d;
    color: #ffffff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/*розміщення фото*/

.hero img {
    position: absolute;
    top: 150px;
    right: 20px;
    width: 40%;
    height: 50%;
    border-radius: 30px
}

.park {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 1500px;
}

.park .electro img {
    width: 30%;
    height: auto;
}

.park .electro h2 {
    font-size: 40px;
    text-align: center;
}

.park .electro p {
    font-size: 20px;
    text-align: center;
}

.park .middle img {
    width: 30%;
    height: auto;
}

.park .middle h2 {
    font-size: 40px;
    text-align: center;
}

.park .middle p {
    font-size: 20px;
    text-align: center;
}

.park .bussines img {
    width: 30%;
    height: auto;
}

.park .bussines h2 {
    font-size: 40px;
    text-align: center;
}

.park .bussines p {
    font-size: 20px;
    text-align: center;
}

.park .premium img {
    width: 30%;
    height: auto;
}

.park .premium h2 {
    font-size: 40px;
    text-align: center;
}

.park .premium p {
    font-size: 20px;
    text-align: center;
}

.park .electro {
    position: absolute;
    top: 700px;
    left: 50px;
    width: 50%;
    height: 60%;
}

.park .middle {
    position: absolute;
    top: 700px;
    right: 50px;
    width: 50%;
    height: 60%;
}

.park .bussines {
    position: absolute;
    top: 1100px;
    right: 50px;
    width: 50%;
    height: 60%;
}

.park .premium {
    position: absolute;
    top: 1100px;
    left: 50px;
    width: 50%;
    height: 60%;
}


/*Закруглення попередніх картинок*/

.park .electro img {
    border-radius: 30px;
}

.park .middle img {
    border-radius: 30px;
}

.park .bussines img {
    border-radius: 30px;
}

.park .premium img {
    border-radius: 30px;
}


/*Секція з машинами*/


/*Заголовок*/

.second h3 {
    font-weight: 600;
    font-size: 31px;
}

.second .Avto {
    display: flex;
    justify-content: space-between;
}

.second .to:hover {
    transform: scale(1.1);
    transition: all 500ms ease;
}


/* Common styles for all car images */

.second .car img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.second .car {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.second .car:hover {
    transform: scale(1.02);
    transition: all 1000ms ease;
}

footer {
    padding: 10px 0;
    text-align: center;
}